body {
    width: 400px;
    height: 150px;
}

#status {
    width: 300px;
    height: 25vh;
    text-align: center;
    font-size: 5vw;
    width:100%;
}

.invalid {
    color: red;
}

.successful {
    color: green;
}

#btn_download {
	margin-top: 5vh;
    color: white;
    text-align: center;
    background-color: green;
    width:100%;
    border-radius: 3px;
    border: none;
    font-size: 5vw;
}
